/**
 * Base style
 */
a {
  color: darken($brand-color, 2%);
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: darken($brand-color, 15%);
  }
}


/**
 * Site header
 */
.site-header {
  border-top: unset;
  border-bottom: unset;
  background-color: $top-bar-background-color;
  min-height: unset;
}

.site-title {
  font-weight: unset;
  letter-spacing: unset;
  &,
  &:visited {
    color: $background-color;
  }
  &:hover {
    color: $brand-color;
  }
}

.site-nav {
  background-color: $top-bar-background-color;

  .menu-icon > svg > path {
    fill: $background-color;
  }

  .trigger .page-link {
    &,
    &:visited {
      color: $background-color;
    }
    &:hover {
      color: $brand-color;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  padding-top: 10px;

  div {
    text-align: center;
  }

  .license {
    font-size: x-small;
  }
}


/**
 * Icons
 */
.icon--reply > svg {
  padding-bottom: 0.125em; /* fine-tune alignment */

  path {
    fill: currentColor;
  }
}
